@tailwind base;
@tailwind components;
@tailwind utilities;


.dropdown:hover .dropdown-menu {
    display: block
}

body{
    color:#888888;    
    font-family: "Montserrat";

    
}

h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat";
    color: #333333;
}

.titrehomepage{
    font-weight: 900;
}

div.timeline{
    left: 50% !important;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ede1d5;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
